.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 2;
    padding: var(--space-xs-xs) var(--space-s-s); 
    background: var(--color-header-bg);
    border-bottom: 1px solid rgba(255,255,255, .1);
    color: #c9D1D9;
}

.header h1 {
    margin: 0;
    margin-left: 5px;
    font-size: var(--step-0);
}


.logoWrapper {
    display: flex;
    align-items: center;
}

.buttonsWrapper {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}