.container {
    text-align: center;
}


.title {
    color: #fff;
    font-size: var(--step-4);
    max-width: 980px;
    font-weight: 800;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    word-break: break-word;
    
}
  
.subtitle {
    color: var(--color-font-light);
    font-size: var(--step-0);
    text-align: center;
    margin-bottom: 40px;
}

.buttonsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 1rem 1.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    background: linear-gradient(180deg,hsla(0,0%,100%,.15) 0,hsla(0,0%,100%,0) 100%), #f6f8fa;
    color: #000;
    border: 0;
    border-radius: .375rem;
    transition: box-shadow .2s;
    appearance: none;
    cursor: text;
    min-width: 300px;
}

.input[disabled] {
    pointer-events: none;
    opacity: 0.2;
}


  
  