.container {
    text-align: center;
}


.title {
    color: #fff;
    font-size: 72px;
    max-width: 980px;
    font-weight: 800;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    word-break: break-word;
    
}
  
.subtitle {
    color: var(--color-font-light);
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.buttonsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


  
  