.layout {
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow-y: auto;
    display: grid;
    grid-template-rows: min-content auto;
}

.section {
    width: 100%;
    padding-left: var(--space-s-s);
    padding-right: var(--space-s-s);
    display: grid;
    place-content: center;
}