.layout {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    width: 100%;
    position: relative;
    overflow-y: auto;
    display: grid;
    /* grid-template-rows: min-content auto min-content; */
    grid-template-rows: 70px calc(100vh - 150px) 70px 10px;
}

.section {
    width: 100%;
}

.header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 2;
    padding: 0px 20px; 
    background: var(--color-header-bg);
    border-bottom: 1px solid rgba(255,255,255, .1);
    color: #c9D1D9;
}

.header h1 {
    margin: 0;
    margin-left: 5px;
    font-size: 24px;
}

.logoWrapper {
    display: flex;
    align-items: center;
}

.logoWrapper a {
    cursor: pointer;
}

.layout footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background: #ffffff0f;
}

.layout footer button {
    padding: 0.75rem 1rem 0.75rem;
    border-radius: 50%;
}