.title {
  color: var(--color-primary);
  font-weight: 800;
  margin: 0;
  margin-bottom: 16px;
}

.subtitle {
  color: var(--color-secondary);
  font-size: 16px;
}

.subtitle span {
  color: initial;
}

.homeSection {
  display: grid;
  height: 100%;
  place-content: center;
  place-items: center;
}

.btnWrapper{
  margin-top: 16px;
}

